#ProviderFinder{ 
	background: transparent none repeat scroll 0px 0px;
	color: #965B5B !important;
	padding-right: 25px !important;
}

.navbar-search {
	margin-right: 2px;
}


#divFormPayments {
	padding-bottom: 35px !important;
}

#formPayments {
	padding-bottom: 10px;
}


#main_container {
    margin-bottom: 50px;
    margin-left: 50px;
    display: block;
    padding-bottom: 50px;
}

