.ingreso_abono_proveedor {
	padding: 5px;
} 

.OverdueBalance_Details , .FullBalance_Details {
	height: 125px;
	margin-top: 5px;
	font-size: 10px;
}
 .totales-pagos {
        color: black;
        font-size: 10px;
    }

    .pagos-detalle{
        font-size: 11px;
        line-height: 100%;
        width: 100% !important;
        margin-top: 10px;
        padding-top: 5px;
        border: 1px solid #C5C5C5;
    }

    .pagos-detalle table  thead, .pagos-detalle table  tbody { display: block; }

    .pagos-detalle table tbody {
        width: 100% !important;
        height:65px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .pagos-detalle {
        width: 100% !important;
        height:100px;
    }
    .pagos-detalle table tbody tr td{
        background: white;
    }

    .pagos-detalle table thead tr th {
        font-size: 10px;
        line-height: 100%;
        border-bottom: 1px solid #AAAAAA;
        padding-left: 5px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        background: white;
        color: black;
    }

   

    #body-tipos
    {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    #body-tipos div div 
    {
        margin-bottom: 15px;
    }

.panel-tab .panel-heading ul {
    width: 100%;
}

.nav-pills li {
    width: 25%;
}

.container_selected {
    margin-top: -10px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    float: left;
    padding: 2px 10px;  
}

.container_selected select{
    padding: 0px;
    
}

.container_selected #total_selected{
    margin-right: 15px !important;
    padding-left: 15px;
    text-align: right;
    
}

