
.form-proveedor {
	padding-left: 10px;
}

.info-proveedor  table tr td {
	background: #ffffff !important;
	padding-top:0px !important;
	padding-botton:0px !important;
	font: bold !important;
	font-size: 10px;
	height: 0px;
	border:solid 1px  #ffffff;
}
 
.list-body {
	padding-left: 60px;
}

.list-body input {
	width: 200px;
	height: 20px;
	font-size: 10px !important;
}

.contactos-body input[type="text"] {
	width: 200px;
	height: 20px;
	font-size: 10px !important;
	margin-bottom: 6px;
}

.contactos-body input[type="submit"] {
	height: 20px;
	font-size: 10px !important;
	margin-bottom: 6px;
}

 .contactos-body {
	border-left:solid 1px #C2C2C2 !important;
 }

.info-proveedor  table tr td input {
	width: 350px;
	height: 20px;
	font-size: 10px !important;
}

.info-proveedor  table tr td input[type="checkbox"]{
	width: 10px;
	height: 20px;
	font-size: 10px !important;
}

.info-proveedor hr, h3{
	padding:0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-align: center;
 }

.info-contactos  table tr td {
	background: #ffffff !important;
	padding-top:0px !important;
	padding-button:0px !important;
	font: bold !important;
	font-size: 10px;
	height: 0px;
	border:solid 1px  #ffffff;

}

.body-contactos input[type="text"]{
        background: white;
        width: 100%;
        margin-top: 2px;
        height: 25px;
        padding-left: 10px;
    }

 .proveedor-footer {
	text-align: right;
	margin-top: 10px;
 }

.contactos-info-body{
	font-size: 10px !important;
}

 .proveedor_tabs input[type="text"]{
	border :solid 1px #F3F3F3;
	color: #000000 !important;
 }

 .contactos-lista {
	 height: 230px; 
	 overflow-y: scroll;
 }

.proveedor-body-info{
	height: 230px;
}

.info-contactos-body {
	font-size: 10px !important;
	line-height: 130%;
	color :#C3BEBE;
}


#tab-proveedor-informacio {
	width: 220px !important;
}

#tab-proveedor-contacto {
	width: 220px !important;
}

.has-feedback .form-control {
    padding-right: 20px;
}
