
.panel-tab .panel-heading ul {
    width: 100% !important;
}

.nav-pills li {
    width: 25% !important;
}

.container_selected {
    margin-top: -10px;
    margin-bottom: 10px;
    border: 1px solid #DCDCDC;
    width: 100%;
    position: relative;
    float: left;
    padding: 2px 10px;  
}

.container_selected select{
    padding: 0px;
    
}

.container_selected #total_selected{
    margin-right: 15px !important;
    padding-left: 15px;
    text-align: right;
    
}
