/*fondo grid con degradados*/
.grid_fondo()
{
	background-color:#ffffff;
	background-image: linear-gradient(#C5C5C5 2px, transparent 2px),
	linear-gradient(90deg, #ffffff 0px, transparent 2px),
	linear-gradient(#C5C5C5 1px, transparent 1px),
	linear-gradient(90deg, #C5C5C5 1px, transparent 1px);
	background-size:200px 200px, 200px 200px, 23px 23px, 23px 23px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px

}

.table-scroll {
	max-height: 100px !important;
	height: 100px !important;
	width: 100%;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}

.table-scroll table {
	border-right: 1px solid #C5C5C5;
}

.table-scroll table tbody tr td {
	font-size: 11px;
	height: 5px;
	line-height: 100%;

	background: #ffffff;
     opacity:0.6;
     font-family: bold;
     color: black;

    border-left: 1px solid #C7C7C7 !important;
	border-right: 1px solid #0D0404 !important;
	border-bottom: 1px solid #0D0404 !important;
	border-top: 1px solid #C7C7C7 !important;

}