.cierre_title{
	font-style: bold;
}

.cierre_body{
	border: 1px solid #ddd;
}

.cierre_body td {
	border-left: 1px solid #ddd;
}

.cierre_head th{
	/*border-top: solid 1px #595959 !important;*/
}

.cierre_head {
	/*border-left: solid 1px #595959 !important;
	border-right: solid 1px #595959 !important;*/
}

.cierre_footer td{
	/* border-top: solid 1px #595959 !important;
	border-bottom: solid 1px #595959 !important; */
}

.cierre_footer {
	/* border-left: solid 1px #595959 !important;
	border-right: solid 1px #595959 !important; */
}

 .theme-table-footer tr:nth-child(odd) td {
	opacity: 0.6;
	color: #000000;
} 