.cierre_title{
	font-style: bold;
}

.cierre-titulos{
	font-size:15px !important 
}

.cierre_body{
	border: 1px solid #ddd;
}
.cierre_body .hover:hover {
	background: #6FE98C;
	cursor:pointer;
}

.cierre_body td {
	border-left: 1px solid #ddd;
}

.cierre_head th{
	/*border-top: solid 1px #595959 !important;*/
}

.cierre_head {
	/*border-left: solid 1px #595959 !important;
	border-right: solid 1px #595959 !important;*/
}

.cierre_footer td{
	/* border-top: solid 1px #595959 !important;
	border-bottom: solid 1px #595959 !important; */
}

.cierre_footer {
	/* border-left: solid 1px #595959 !important;
	border-right: solid 1px #595959 !important; */
}

 .theme-table-footer tr:nth-child(odd) td {
	opacity: 0.6;
	color: #000000;
}

.cierre-font  tbody tr td {
	font-size: 13px !important;
}

.dt-container-cierre {
  top: 5%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 1;
}

.dt-panel-cierre {
  margin-bottom: 50px!important;
}

.dt-panel-cierre {
	  /*display: none;*/
}

.panel-heading-cierre {
	padding: 10px;
}

.panel-heading-cierre .pull-left{
	font-size: 25px;
	width: 80%;
	text-align: center;
}

.panel-heading-cierre .pull-left span {
	margin-left: 20%;
}

.panel-heading-cierre .pull-right {
	width: 10%;
}

.panel-heading-cierre .pull-right i {
	font-size: 18px;
	padding-left: 5px;
}

.cierre_detalle tr td{
	font-size: 13px;
	line-height: 140% !important 
}

.cierre_totales .row {
	border-right:solid 1px #B1B1B1;
	padding:0px !important;
}

.cierre_totales {
	padding: 0px !important
}

.cierre_totales .row .col-md-4 .row {
	padding-right: 5px !important;
	padding-left: 10px !important;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
}

.noFontBold th{
	font-style: normal !important;
	font-weight: normal !important;
}