.master-table tbody tr td {
	background: #FBFBFB !important;
	padding:0px !important;
	font-size: 10px;
}

.master-detail-info .master-table tr td input {
	width: 210px;
}

.master-detail-body .master-table tr td input {
	width: 120px;
	margin: 0px;
}

.master-detail-body .master-table tr td {
	padding-left: 0px !important;
}

.master-detail-body  {
	margin-top: 8px;
}

.master-detail-body textarea {
	margin-top: 10px;
}

.totales tr td {
	border: solid 1px #DDD;
	font: bold !important;
	line-height: 140%;
	width: 50%;
}

.master-precios {
	font-size: 10px;
}

.master-descripcion {
	font-size: 10px;
	color: #858282 !important;
	line-height: 130%;
}

.search-cliente-info {
	font-size: 10px;
}

.search-proveedor-info {
	font-size: 10px;
}
 
.body-detail{
	font-size: 10px;
	line-height: 100%;
	width: 100% !important;
	margin-top: 10px;
	padding-top: 5px;
	border: 1px solid #C5C5C5;
}

.body-detail table  thead, .body-detail table  tbody { display: block; }

.body-detail table tbody {
    height:160px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.body-detail table thead tr th {
	font-size: 10px;
	line-height: 100%;
	padding-left: 5px !important;
	padding-top: 0px !important;
	padding-bottom: 5px !important;
	background: white;
	color: black;
	border-bottom: 1px solid #AAAAAA;
}
