.master-table tbody tr td {
	background: #FBFBFB !important;
	padding:0px !important;
	font-size: 10px;
}

.master-table tbody tr td i {
	font-size: 14px !important;
}

.master-detail-info .master-table tr td input {
	width: 210px;
}

.master-detail-body .master-table tr td input {
	width: 120px;
	margin: 0px;
	background: #E9E9E9;
	border:solid 1px #FBFBFB !important;
}

.master-detail-body .master-table tr td {
	padding-left: 0px !important;
}

.master-detail-body  {
	margin-top: 8px;
}

.master-detail-body textarea {
	margin-top: 10px;
}

.totales tr td {
	border: solid 1px #DDD;
	font: bold !important;
	line-height: 140%;
	width: 50%;
}

.master-precios {
	font-size: 10px;
}

.master-descripcion {
	font-size: 10px;
	color: #858282 !important;
	line-height: 130%;
}

.search-cliente-info {
	font-size: 10px;
}

.search-proveedor-info {
	font-size: 10px;
}
 
.body-detail{
	font-size: 10px;
	line-height: 100%;
	width: 100% !important;
	margin-top: 10px;
	padding-top: 5px;
	/*border: 1px solid #C5C5C5;*/
}

.body-detail table  thead, .body-detail table  tbody { display: block; }

.body-detail table tbody {
    height:160px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.body-detail table tbody tr th {
	font-size: 10px;
	line-height: 100%;
	padding-left: 5px !important;
	padding-top: 5px !important;
	margin-top: 0px !important;
	padding-bottom: 5px !important;
	background: #DCDCDC;
	color: black;
	border-left: solid 1px #FFFFFF;
}

.body-detail table tfoot tr:nth-child(2n) {
    background: #FFFFFF;
}

.body-detail table tfoot  tr:nth-child(2n+1) td {
	border-top: 1px solid #CACACA;
    background: #FFFFFF;
}

.body-detail table tbody tr:nth-child(2n) {
    background: #FFFFFF;
}

.body-detail table tbody  tr:nth-child(2n+1) td {
    background: rgba(242, 242, 242, 0.58) none repeat scroll 0% 0%;
}

.body-detail table tbody tr td {
	border-left: solid 1px #FBFBFB;
}

.master-detail-info {
	margin-bottom: 15px;
}

.master-detail-info tr td, th {
	padding: 2px !important;
}

.master-detail-info tbody tr td {
	background: #FBFBFB!important;
	padding-top:0px !important;
	padding-button:0px !important;
	font: bold !important;
	font-size: 10px;
	height: 0px;
} 

.master-detail-info tr td input {
	height: 20px;
	font-size: 10px !important;
	padding-left: 5px;
	margin-right: 5px;
	margin-left: 5px;
	background: #E9E9E9;
	width: 250px;
	border: 1px solid #FBFBFB !important;
}

.master-detail-info tr td {
	padding: 0px !important;
	margin:  0px !important;
}
.master-detail-info tr td i {
	font-size: 14px !important;
	padding-right: 3px;
}

.master-detail-info tr td button {
	font-size: 25px !important;
	padding:0px 0px 0px 0px!important;
}